@import 'common';

$hyperlink-color: $lavender;
$hyperlink-hover-color: $electric-blue;
$transition-speed: .5s;

.content{
  min-width: 320px;
  width: 60%;
  margin: 0 auto;
}

.text-purple{
  color: $lavender;
}

.text-blue{
  color: $electric-blue;
}

.text-salmon{

}

a {
  text-decoration: none;
  color: $hyperlink-color;
  transition: color $transition-speed;

  &:hover {
    color: $hyperlink-hover-color;
  }
}

