@import 'common';

$hyperlink-color: $lavender;
$hyperlink-hover-color: $electric-blue;
$transition-speed: .5s;

.content{
}

a {
  text-decoration: none;
  color: $hyperlink-color;
  transition: color $transition-speed;

  &:hover {
    color: $hyperlink-hover-color;
  }
}

