@import 'common';

$hyperlink-color: $lavender;
$hyperlink-hover-color: $electric-blue;
$transition-speed: .5s;

.content{
  min-width: 320px;
  padding: 30px 15px 0;
  width: 60%;
  margin: 0 auto;

}

.text-purple{  color: $lavender;  }
.text-blue{  color: $electric-blue;  }
.text-ice-blue{  color: $ice-blue;  }
.text-salmon{  color: $salmon;  }
.text-grilled-salmon{  color: $grilled-salmon;  }
.text-bold{
  font-weight: bold;
}

.text-italic{
  font-style: italic;
}

.text-center{
  text-align: center;
}
h3{
  @include section-header;
  color: $lavender;
}

a {
  text-decoration: none;
  color: $hyperlink-color;
  transition: color $transition-speed;

  &:hover {
    color: $hyperlink-hover-color;
  }
}

.gmail-logo{
  position:relative;
  @include icon(32px, '../../assets/gmail.png');
}
.linkedin-logo{
  @include icon(32px, '../../assets/linkedin.png');
}
.github-logo{
  @include icon(32px, '../../assets/github.png');
}
