$dark-slate-gray: #17191c;
$almost-black-blue: #0d0e0f;
$electric-blue: #32b0ee;
$ice-blue: #97dfec;
$lavender: #977ad6;
$light-purple: #dac9ff;
$light-slate: #adc0c6;
$slate:#7a8d93;
$salmon: #ffa5a5;
$grilled-salmon: #ea806e;

$small-screen: 480px;
$med-screen: 720px;

@mixin section-header{
  font-size: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

@mixin icon($size, $url){
  content: '';
  display: inline-block;
  height: $size;
  width: $size;
  background: url($url) no-repeat center;
  background-size: $size;
}

@mixin color-overlay($color){
  position:relative;
  z-index: 2;
  width:100%;
  height:100%;
  display:block;
  background-color: $color;
  mix-blend-mode: overlay;
}

@mixin icon-color-overlay($color){
  &:before{
    content:'';
    @include color-overlay($color);
  }
}

@mixin icon-color-overlay-with-hover($color, $hover-color){
  &:before{
    content:'';
    @include color-overlay($color);
    transition: background-color .5s;
  }

  &:hover{
    &:before{
      background-color: $hover-color;
    }
  }
}
