$item-max-width: 1024px;
$section-margin-bottom: 60px;

h2{
    text-align: center;
}

.lx-main__about{
    max-width: $item-max-width;
}

.lx-main__blue{
    color: var(--lx-electric-blue);
    font-family: var(--lx-serif);
    font-weight: bold;
}

.lx-main__bunny{
    text-align: center;
    img{ 
        width: 150px;
    }
}

.lx-main__skill-chart{
    max-width: $item-max-width;
    margin: 0 auto;
}

.lx-main__section{
    margin: 0 auto;
    margin-bottom: 100px;
}

