<div class="content">
  <section>
    <img src="../../../assets/ap.png" class="preview">
    <a href="http://animated-poseur.appspot.com" class="project-link">
      Animated Poseur
    </a>
    <p>
     A frame animation-focused multi-layer drawing application that initially started as my senior project.
      Is currently built on the AngularJS framework with JavaEE backend using Google App Engine hosting and database,
      but I have plans to port it to Angular2+ with Spring Boot in the near future for more up-to-date technology and
      better maintainability before I implement more features.
    </p>
  </section>

  <section>
    <img src="../../../assets/chan.png" class="preview">
    <a href="/ChanConvexHull" class="project-link">
      Chan Convex Hull Algorithm Implementation
    </a>
    <a href="https://github.com/lisa-yaqing-xu/ChanConvexHull"><span class="github-logo"></span></a>
    <p>
      An implementation of <a href="https://en.wikipedia.org/wiki/Chan%27s_algorithm">Timothy Chan's convex Hull
      algorithm</a>, coded and visualized in JavaScript.
    </p>
  </section>

  <section>
    <img src="../../../assets/piggybank.png" class="preview">
    <a href="http://lisaxu.me/PiggyBankComponents/demo" class="project-link">
      Piggy Bank Polymer Components
    </a>
    <a href="https://github.com/lisa-yaqing-xu/PiggyBankComponents"><span class="github-logo"></span></a>
    <p>
      This is an example of a resource management tool we began to build.
      It leveraged an existing time tracking solution that we implemented previously to
      pull in the hours recorded by each resource. It was our intent to perform some
      calculations with the data collected by PiggyBank and the other platform to enable financial
      reports to be created. The reports would have included organizational
      performance against quarterly and annual budget targets, as well as resource utilization metrics.
    </p>
    <p>
      PiggyBank is built using the Google Polymer framework. The charts were built using D3.js.
    </p>
  </section>
</div>
