@import 'breakpoints';

:host {
    --lx-code-img-border:var(--lx-electric-blue);
    --lx-code-text-border:var(--lx-lavender);
    --lx-code-hover-border: var(--lx-lavender);
    display: block;
}

h3 {
    text-align: center;
}

.lx-code__preview {
    max-width: $breakpoint-mobile;
    width: 100%;
    img{
        width: 100%;
    }
}

.lx-code__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 60px;
    padding-bottom: 24px;
    max-width: $breakpoint-tablet;
    border-bottom: 1px solid var(--lx-code-text-border);
    &:first-of-type, &:last-of-type{
        border: 0;
    }
}