<h2 aria-live="assertive">Programming Projects</h2>
<section class="lx-code__section">
    <p>
        Some examples of my past projects that I have the rights to show here. Most of these are academic projects.
    </p>
</section>
<section class="lx-code__section">
    <a href="http://animated-poseur.appspot.com" target="_blank" class="lx-code__preview lx-image-link">
        <img src="/assets/ap.png" alt="screenshot of Animated Poseur UI">
    </a>
    <h3>
        <a href="http://animated-poseur.appspot.com" target="_blank" class="project-link">
            Animated Poseur
        </a>
    </h3>
    <p>
        Animated Poseur is a frame animation-focused drawing application. It's currently an on-going project,
        though it started off as my senior thesis. Currently it has simple drawing functions that include brush,
        rectangular selection, eraser, fill, and shapes, but has an animation state and frame management system
        as well as layers. Animated Poseur offers a .png + JSON sprite sheet export support.
    </p>
    <p>
        Animated Poseur is currently built on the AngularJS framework on the front end and JavaEE back end on
        Google App Engine. I may rewrite it some day using more modern frameworks.
    </p>
</section>

<section class="lx-code__section">
    <a href="/ChanConvexHull" target="_blank" class="lx-code__preview lx-image-link">
        <img src="/assets/chan.png" alt="screenshot of chan convex hull demo">
    </a>
    <h3>
        <a href="/ChanConvexHull" target="_blank" class="project-link">
            Chan Convex Hull Algorithm Implementation
        </a>
    </h3>
    
    <a href="https://github.com/lisa-yaqing-xu/ChanConvexHull" target="_blank"><span class="github-logo"></span></a>
    <p>
        An implementation of <a href="https://en.wikipedia.org/wiki/Chan%27s_algorithm" target="_blank">Timothy Chan's
            convex Hull
            algorithm</a>.
    </p>
    <p>Written in Javascript, with a bit of JQuery to simplify event listening.</p>
</section>

<!--section class="lx-code__section">
    <img src="/assets/piggybank.png" class="lx-code__preview">
    <h3>
        <a href="/PiggyBankComponents/demo" target="_blank" class="project-link">
            Piggy Bank Polymer Components
        </a>
    </h3>
    <a href="https://github.com/lisa-yaqing-xu/PiggyBankComponents" target="_blank"><span
            class="github-logo"></span></a>
    <p>
        This is an example of a resource management tool we began to build.
        It leveraged an existing time tracking solution that we implemented previously to
        pull in the hours recorded by each resource. It was our intent to perform some
        calculations with the data collected by PiggyBank and the other platform to enable financial
        reports to be created. The reports would have included organizational
        performance against quarterly and annual budget targets, as well as resource utilization metrics.
    </p>
    <p>
        PiggyBank is built using the Google Polymer framework. The charts were built using D3.js.
    </p>
</section-->
<section class="lx-code__section">
    <a href="https://github.com/lisa-yaqing-xu/Overcoat" class="lx-code__preview lx-image-link" target="_blank" aria-label="overcoat github link">
        <img src="/assets/overcoat.png" class="lx-code__preview" alt="screenshot of overcoat implementation demo">
    </a>
    <h3>OverCoat: An Implicit Canvas for 3D Painting</h3>
    <a href="https://github.com/lisa-yaqing-xu/Overcoat" class="lx-icon-link" target="_blank" aria-label="overcoat github link">
        <i class="lx-icon__github"></i>
    </a>
    <p>
        For a graphics course in grad school I implemented a part of
        <a href="http://zurich.disneyresearch.com/OverCoat/" target="_blank">this paper</a>. I was a bit short on time
        given the circumstances
        of the semester, but I was able to get a lot of the core functionality working. Overall a cool project.
    </p>
    <p>
        Written in C++ using the OpenGL library, which I was not familiar with at the time. Definitely a learning
        experience.
    </p>
</section>
<section class="lx-code__section">
    <a href="https://github.com/lisa-yaqing-xu/ShadowRemoval" class="lx-code__preview lx-image-link" target="_blank" aria-label="overcoat github link">
        <img src="/assets/shadowremoval.png" class="lx-code__preview" alt="screenshot of shadow removal results">
    </a>
    <h3>Texture-Consistent Shadow Removal</h3>
    <a href="https://github.com/lisa-yaqing-xu/ShadowRemoval" class="lx-icon-link" target="_blank">
        <i class="lx-icon__github"></i>
    </a>
    <p>
        An implementation of <a href="http://web.cecs.pdx.edu/~fliu/papers/eccv08.pdf" target="_blank">this paper</a>
        for my graduate computer vision course, although somewhat limited due to time constraints. Using the methodology
        detailed in the paper (full pdf report on what I did in Github) I was able to mostly achieve texture-consistent
        shadow
        removal.
    </p>
    <p>
        Written in Matlab. Very much not for production use.
    </p>
</section>