<div class="lx-footer__socials">
    <a href='https://github.com/lisa-yaqing-xu' class="lx-icon-link" target="_blank" aria-label="github">
        <i class="lx-icon__github"></i>
    </a>
    <a href='https://www.linkedin.com/in/yaqing-lisa-xu-227b3865/' class="lx-icon-link" target="_blank" aria-label="linkedin">
        <i class="lx-icon__linkedin"></i>
    </a>
</div>
<div class="lx-footer__go-home">
    <a class="lx-footer__logo" [routerLink]="['']" aria-label="Home">
        <i class="lx-icon__bunbun"></i>
    </a>
</div>
<div class="lx-footer__copyright">All rights reserved &copy; 2023 Lisa Xu</div>