$item-size: 150px;
$gallery-hover-border: 2px solid var(--lx-gallery-link-hover);

:host {
    --lx-gallery-link-color: var(--lx-electric-blue);
    --lx-gallery-link-hover: var(--lx-lavender);
}

.lx-gallery__items {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, $item-size);
    grid-template-rows: repeat(auto-fit, $item-size);
    gap: 12px;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.lx-gallery__item {
    display: inline-flex;
    position: relative;
    height: $item-size;
    width: $item-size;
    padding: 0;
    background: 0;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
        .lx-gallery__quick-view {
            opacity: 1;
        }
    }
}

.lx-gallery__thumbnail {
    width: $item-size;
    height: $item-size;
    object-fit: cover;

}
