<div class="lx-header__logo">
    <a [routerLink]="['']"><img src="assets/bunbunlogo.svg" alt="bunny logo"></a>
</div>
<div class="lx-header__title">
    <h1 class="lx-header__name">Lisa Xu</h1>
    <div class="lx-header__description">Software Engineer &middot; Artist</div>
</div>
<button #hamburger
    class="lx-button {{hamburgerClass}}" 
    [ngClass]="{'lx-header__hamburger--active': hamburgerActive}" 
    *ngIf="smallScreen" 
    (click)="hamburgerActive = !hamburgerActive"
    aria-label="{{hamburgerActive? 'close': 'open'}} navigation menu">
    <i class="lx-icon__hamburger" [ngClass]="{'lx-icon__close': hamburgerActive}"></i>
</button>
<ul #navigation
    role="navigation"
    class="lx-header__nav"
    (click)="exitHamburger()"
    [ngClass]="{'lx-overlay': hamburgerActive, 'lx-header__nav--active': hamburgerActive}"
    [attr.aria-hidden]="smallScreen && !hamburgerActive && menuCollapsed"
    [attr.tabindex]="(smallScreen && !hamburgerActive && menuCollapsed) ? -1 : undefined">
    <li class="lx-header__nav-item" *ngFor="let route of routes">
        <a 
            class="{{linkClass}}" 
            [attr.tabindex]="(smallScreen && !hamburgerActive && menuCollapsed) ? -1 : undefined"
            [routerLink]="route.path"
            [routerLinkActive]="['lx-header__link--active']">{{route.title}}</a>
    </li>
</ul>
