<div class="lx-header__logo">
    <a [routerLink]="['']"><img src="assets/bunbunlogo.svg"></a>
</div>
<div class="lx-header__title">
    <h1 class="lx-header__name">Lisa Xu</h1>
    <div class="lx-header__description">Software Engineer &middot; Artist</div>
</div>
<button class="lx-header__hamburger" *ngIf="smallScreen" (click)="openHamburger()">test</button>
<ul role="navigation" 
    class="lx-header__nav" 
    (click)="closeHamburger()"
    [ngClass]="{'lx-overlay': smallScreen && hamburgerActive, 'lx-header__nav--active': hamburgerActive}">
    <li class="lx-header__nav-item" *ngFor="let route of routes">
        <a  class="lx-header__link"
            [routerLink]="route.path"
            [routerLinkActive]="['lx-header__link--active']">{{route.title}}</a>
    </li>
</ul>
