@import '../../styles/common.scss';

.bunbun-icon{
  height: 150px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-right: 30px;
  img{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    margin-top: 5%;
  }
}

.about-section{
  display:inline-block;
  width: calc(100% - 180px);
  vertical-align: middle;
}
