<div class="content">
  <p class="opening">
    Hey, I'm Lisa, and I'm a software engineer with a background in computer science, statistics, and art.
  </p>
  <p>
    I mainly work as a front end application developer, but I can work with the full stack and implement complex
    algorithms into code. My strongest programming languages are JavaScript and TypeScript, using the Angular framework,
    but I also know Java fairly well and dabbled in Kotlin, Python and C++. I pick up new languages and frameworks
    pretty easily if there's any need for me to.
  </p>
  <p>
    I can also do creative work, like designing UI.
  </p>
</div>
