<div class="content">
  <section>
    <h3 class="text-center">Hey. I'm Lisa.</h3>
    <p class="opening">
      I'm a software developer with backgrounds in computer science, statistics, and art.
    </p>
  </section>
  <section>
    <h3 class="text-center">Things I do</h3>
    <div class="bunbun-icon">
      <img src="assets/bunbunputer.png">
    </div>
    <div class="about-section">
      <p><span class="text-blue text-bold">Turn ideas into code.</span> I am experienced in client-side development,
        and I can do anything from turning mock-ups into a functional page to writing full applications in the browser.
        I can also do server-side development, and I enjoy implementing complex algorithms. </p>
      <p>
      <p><span class="text-blue text-bold">Design.</span> I can do a variety of design work, including UI, logo,
        and even character design. Just give me the specs.</p></div>
  </section>
  <section #skillChart>
    <h3 class="text-center" >Skills</h3>
    <app-lx-skill-chart [skillList]="generalSkills" [color]="generalSkillsColor" [activate]="skillActivate"></app-lx-skill-chart>
  </section>

  <section #programmingChart>
    <h3 class="text-center" >Programming Languages</h3>
    <app-lx-skill-chart [skillList]="programmingLanguages" [activate]="programmingActivate"></app-lx-skill-chart>
  </section>

  <section #timeline>
    <h3 class="text-center">Experience</h3>
    <app-lx-exp-timeline  [data]="experience"></app-lx-exp-timeline>
  </section>

</div>
