@import '../../styles/common.scss';
section{
  padding-bottom: 50px;
}
.bunbun-icon {
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
  img {
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }
}

.about-section {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

