<div class="content">
  <p>Interested in my work? Like what you see? Drop me a line with this form and I'll get back to you as soon as possible.</p>
  <form class='contact-form'[formGroup]="contactForm" (ngSubmit)="submit($event)">
    <input formControlName="name" type="text" placeholder="Name">
    <input formControlName="email" type="email" placeholder="Email">
    <input formControlName="subject" type="text" placeholder="Subject">
    <textarea formControlName="message" placeholder="Message"></textarea>
    <input formControlName="_gotcha" type="text" name="_gotcha" class="hidden"/>
    <button class="button" type="submit">Send</button>
  </form>
</div>
