<div class="content">
  <form [formGroup]="contactForm" (ngSubmit)="submit($event)">
    <input formControlName="name" type="text" placeholder="Name">
    <input formControlName="email" type="email" placeholder="Email">
    <input formControlName="subject" type="text" placeholder="Subject">
    <textarea formControlName="message" placeholder="Message"></textarea>
    <input type="text" name="_gotcha" style="display:none" />
    <button class="button" type="submit">Send</button>
  </form>
</div>
