@import 'z';

:host {
    display: flex;
    flex-direction: column; 
    min-height: 100%;
    background-color: var(--lx-site-bg);
}
.lx-app__header{
    z-index: $z-header;
}

.lx-app__main {
    padding: 16px;
    flex: 1;
}

.lx-header.lx-header--collapsed {
    position: fixed;
    top: 0;
    left: 0;
}

.lx-app__main--header-collapsed {
    margin-top: var(--lx-header-height);
}