@import '../../styles/common.scss';

.lx-skill-bar{
  position: relative;
  height: 20px;
  width:100%;
  background: rgba(255,255,255,0.2);
  label{
    margin-top:1px;
    line-height: 20px;
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    color: $almost-black-blue;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    z-index: 2;
  }
}
.lx-skill-level{
  position:relative;
  transition: width .5s;
  width: 0;
  height: 100%;
  background: $electric-blue;
  &.salmon{
    background: $salmon;
  }
  &:after{
    position: absolute;
    right: -16px;
    top: -12px;
    @include icon(32px, '../../../assets/bunface.svg');
  }
}
