.lx-skill-bar{
  position: relative;
  height: 20px;
  width:calc(100% - 16px);
  background: rgba(255,255,255,0.2);
  label{
    line-height: 20px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
  }
}
.lx-skill-level{
  transition: width .5s;
  width: 0;
  height: 100%;
  background: #fcf;
}
