@import '../../styles/common';

$background-color: $almost-black-blue;
$hyperlink-color: $ice-blue;
$hyperlink-active-color: $electric-blue;
$hyperlink-hover-color: $light-purple;
$hyperlink-hover-active-color: $lavender;
$transition-speed: .5s;
$large-img-radius: 200px;
$small-img-radius: 30px;
$small-screen: 480px;

a {
  text-decoration: none;
  color: $hyperlink-color;
  transition: color $transition-speed;

  &.active, &:active, &:focus {
    color: $hyperlink-active-color;

    &:hover {
      color: $hyperlink-hover-active-color;
    }
  }

  &:hover {
    color: $hyperlink-hover-color;
  }
}

.lx-header {
  position:relative;
  width: 100%;
  min-width: 320px;
  background: $background-color;
  border-bottom: 1px solid $lavender;

  .lx-info{
    width:100%;
    padding: 75px 0 25px;
    text-align: center;
    h1{
      margin: 15px 0 5px;
    }
    h4{
      margin: 3px 0;
    }

  }
  .lx-logo{
    margin: 0 auto;
    width: $large-img-radius;
    height: $large-img-radius;
    border: 3px solid $electric-blue;
    border-radius: $large-img-radius;
    transition: border-color $transition-speed, width $transition-speed, height $transition-speed;
    overflow: hidden;
    &:hover{
      border-color: $lavender;
    }
    img{
      margin-top:6%;
      width:100%;
      height: 100%;
    }
  }
  ul.lx-nav {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px auto;
    padding: 0;
    list-style: none;
    font-family: 'Josefin Sans', Sans-Serif;
    font-size: 22px;
    transition: left $transition-speed, transform $transition-speed;
    li {
      display: inline-block;
      margin: 5px 15px;
      text-transform: capitalize;
    }
  }
}

.lx-header.small{
  height: 43px;
  padding: 0;
  & > *{
    display: inline-block;
    vertical-align: middle;
  }
  .lx-info{
    @media screen and (max-width: $small-screen) {
      display: none;
    }
    padding: 0 5px;
    display: inline-block;
    width: auto;
    h1,h4{display: none;}
    .lx-logo{
      width: $small-img-radius;
      height: $small-img-radius;
      border-width:1px;
      border-radius: $small-img-radius;
    }
  }
  ul{
    @media screen and (min-width: $small-screen) {
      left: 0;
      transform: translateX(0);
    }
  }
}


