<div class="lx-gallery-overlay__backdrop lx-overlay" aria-hidden="true" (click)="close.emit()"></div>
<button class="lx-button lx-gallery-overlay__exit" aria-label="close gallery" (click)="close.emit()">
    <i class="lx-icon__close" aria-hidden="true"></i>
</button>
<button class="lx-button lx-gallery-overlay__navigation lx-gallery-overlay__prev" 
    *ngIf="hasPrevious"
    aria-label="previous image"
    (click)="onGoPrevious()"
>
    <i class="lx-icon__arrow" aria-hidden="true"></i>
</button>
<a 
    #defaultFocus
    class="lx-gallery-overlay__display" 
    [routerLink]="[currentItem.name]"
    [attr.aria-label]="'go to ' + currentItem.title + ' details'"
>
    <img [attr.src]="currentItem.url" [attr.alt]="currentItem.altText" aria-live="assertive">
    <div class="lx-gallery-overlay__info">
        <span class="lx-gallery-overlay__info-title">{{currentItem.title}}</span>
        <span aria-hidden="true" class="lx-info-button lx-gallery-overlay__info-button" [attr.aria-label]="currentItem.title"></span>
    </div>
</a>

<button class="lx-button lx-gallery-overlay__navigation lx-gallery-overlay__next"
    *ngIf="hasNext"
    aria-label="next image"
    (click)="onGoNext()"   
>
    <i class="lx-icon__arrow" aria-hidden="true"></i>
</button>

