@import 'z';

:host {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $z-overlay;

}

.lx-gallery-overlay__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.lx-gallery-overlay__display {
    display: flex;
    margin: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    img {
        max-width: 90vw;
        max-height: 90vh;
    }
}