/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,700|Josefin+Slab:300,700');
@import "icons";

* {
    box-sizing: border-box;
}

html {
    --lx-black-blue: #0d0e0f;
    --lx-dark-gray: #17191c;
    --lx-electric-blue: #32b0ee;
    --lx-ice-blue: #97dfec;
    --lx-lavender: #977ad6;
    --lx-light-purple: #dac9ff;
    --lx-gray: #7a8d93;
    --lx-light-gray: #adc0c6;
    --lx-salmon: #ffa5a5;
    --lx-grilled-salmon: #ea806e;
    --lx-serif: 'Josefin Slab', serif;
    --lx-sans-serif: 'Josefin Sans', sans-serif;
    --lx-header-collapsed-height: 43px;

    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    --lx-full-bg: var(--lx-black-blue);
    --lx-site-bg: var(--lx-dark-gray);
    --lx-text: var(--lx-light-gray);
    --lx-h2: var(--lx-lavender);
    --lx-a: var(--lx-electric-blue);
    --lx-a-hover: var(--lx-lavender);

    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--lx-sans-serif);
    font-size: 2.2rem;
    font-weight: 300;
    width: 100%;
    min-width: 320px;
    height: 100%;
    overflow: auto;
    background: var(--lx-full-bg);
    color: var(--lx-text);

    &.overlay-visible {
        overflow: hidden;
    }
}

h1 {
    font-family: var(--lx-sans-serif);
    text-align: center;
}

h2 {
    font-family: var(--lx-serif);
    color: var(--lx-h2);
    font-size: 2.8rem;
    text-align: center;
}

h3 {
    font-size: 2.4rem;
}

a {
    color: var(--lx-a);
    transition: color 0.2s linear;
    text-decoration: none;

    &:hover {
        color: var(--lx-a-hover);
    }

    &:focus {
        color: var(--lx-a-hover);
    }

    &.lx-icon-link {
        i {
            transition: background-color .2s;

            &:hover,
            &:active,
            &:focus {
                background-color: white;
            }
        }
    }
}

.lx-button {
    display: flex;
    background: 0;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.lx-overlay {
    background-color: rgba(16, 16, 17, 0.8);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
}

.lx-visually-hidden {
    position: absolute;
    white-space: nowrap;
    display: inline-block;
    opacity: 0;
    height: 0px;
    width: 0px;
    font-size: 1px;
    overflow: hidden;
}

.lx-image-link{
    display: inline-flex;
    position:relative;
    border-radius: 5px;
    border: 2px solid var(--lx-a);
    overflow: hidden;
    cursor: pointer;
    &:hover, &:focus{
        border: 2px solid var(--lx-a-hover);
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        mix-blend-mode: color;
        background-color: var(--lx-a);
        transition: opacity 0.5s, background-color 0.5s;
        pointer-events: none;
    }

    &:hover,
    &:focus {
        &::after {
            opacity: 0.3;
            background-color: var(--lx-a-hover);
        } 
    }
}

.lx-info-button {
    display: flex;
    background: 0;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--lx-light-gray);
    color: var(--lx-light-gray);
    width: 28px;
    height: 28px;
    &::before{
        content: 'i';
        font-size: 1.8rem;
    }
    &:hover{
        border-color: white;
        color: white;
    }
    &:active{
        border-color: var(--lx-gray);
        color: var(--lx-gray);
    }
}