/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,500,700|Josefin+Slab:300');


body{
  margin: 0;
  padding: 0;
  background: #17191c;
  color: #adc0c6;
  font-family: 'Josefin Slab', Sans-Serif;

  font-size:22px;
  font-weight: 100;
}

h1{
  font-family: 'Josefin Sans', Sans-Serif;
}

.github-icon{
  background-image: url('assets/GitHub-Mark-Light-120px-plus.png');
  background-size: 32px;
  display:inline-block;
  width: 32px;
  height: 32px;
}
