@import 'breakpoints';
@import 'mixins';

:host {
    --lx-art-detail-border-color: var(--lx-electric-blue);
    --lx-art-detail-padding: 24px;
    display: grid;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto minmax(auto, 1fr);
    grid-template-areas:
        "images title"
        "images description";
    padding: var(--lx-art-detail-padding);
    gap: 24px;
}

.lx-art-details__collection {
    grid-area: images;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lx-art-details__title {
    grid-area: title;    
}

.lx-art-details__description {
    grid-area: description;
    border-radius: 5px;
    border: 1px solid var(--lx-art-detail-border-color);
    background-color: rgba(0, 0, 0, 0.2);
    padding: var(--lx-art-detail-padding);

    p:first-of-type{
        margin-top: 0;
    }

    p:last-of-type{
        margin-bottom: 0;
    }
}


.lx-art-details__piece {
    display: flex;
    position: relative;
    overflow: hidden;
    @include shadow;
    margin-bottom: 12px;
    img {
        max-width: 100%;
        margin: 0 auto;
    }
    &:last-child{
        margin: 0;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    :host {
        --lx-art-detail-padding: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "title"
            "images"
            "description";        
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    :host {
        --lx-art-detail-padding: 12px;
    }
}

@media screen and (max-width: $breakpoint-small) {
    :host {
        --lx-art-detail-padding: 6px;
    }
}